# Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
dist/
build/

# Virtual Environment
.venv/
venv/
env/

# Instance folder (for Flask configuration and database files)
instance/

# Editor/IDE specific files
.idea/
.vscode/
*.swp
*~
.DS_Store

# Log files
*.log

# Database files (if using SQLite or other file-based databases)
*.sqlite
*.db

# Web assets cache
.webassets-cache/

# PyInstaller (if used for packaging)
*.spec
